#router-container {
  margin-left: 56px;
  padding: 25px;
}

.main-side-nav {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  background-color: #3645af;
}

md-list-item {
  color: #fff;
}

md-list-item:hover {
  cursor: pointer;
}
